gpu_telemetry*.csv
features*.csv
prometheus-data/
grafana-10.4.0.linux-amd64.tar.gz
prometheus-2.51.0.linux-amd64.tar.gz
grafana-v10.4.0/
prometheus-2.51.0.linux-amd64/
__pycache__/
*.pyc
*.log
.DS_Store
